
@{
    ViewData["Title"] = "FavoriteList";
}
@using System.Security.Claims;
@model List<Favorites>

<h1>Favorite List</h1>
<table class="table">
    <tr>
        <td>Title</td>
        <td>iMDb iD</td>
        <td>Year</td>
    </tr>
    @foreach (Favorites favMovie in Model)
    {

        if (User.FindFirst(ClaimTypes.NameIdentifier).Value == favMovie.UserId)
        {
        <tr>
            <td>@favMovie.Name</td>
            <td>@favMovie.Imdbid</td>
            <td>@favMovie.Year</td>

            <td>
                <form action="../MovieAPIDb/RemoveFavorite" method="post">
                    <input type="hidden" name="Id" value="@favMovie.FavoriteId" />
                    <input type="submit" value="Remove From Favorites" />

                </form>
            </td>

        </tr>
        }
    }
    </table>

