@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ErrorPage";
}
<style>
    body{
        background-image: url("./CantDoThatDave.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 0;
    }
</style>
<h1>Error</h1>
<p>There was an error in your search.</p>
<p>You can navigate back to the home page by using the links above.</p>
