@{
    ViewData["Title"] = "Home Page";
}

    <form action="../Movie/DisplaySearch" method="post">
        <input type="text" name="input" placeholder="Movie Title" />

        <input type="submit"  value="SearchMovie" />
    </form>

    <form action="../Movie/DisplayByYear" method="post">
        <input type="text" name="input" placeholder="Search by Release Year" />

        <input type="submit" value="Search" />
    </form>

@*need to add to upper margin of 2nd form to make alignement nicer*@