@{
    ViewData["Title"] = "Home Page";
}

    <form action="../Movie/DisplaySearch" method="post">
        <input type="text" name="input" placeholder="Movie Title" />

        <input type="submit"  value="SearchMovie" />

    </form>
